@model PaginationResponseModelV2
@{
    var FilterQueryStringDictionary = new Dictionary<string, string>();
    if (ViewData["filterDictonary"] != null)
    {
        FilterQueryStringDictionary = new Dictionary<string, string>(ViewData["filterDictonary"] as Dictionary<string, string>);
    }
    var ControllerName = nameof(ClassController).Replace("Controller", string.Empty);
    var CreateUrl = @Url.Action(nameof(ClassController.Create), ControllerName, null, Context.Request.Scheme);
    var GetListViewAsJsonUrl = @Url.Action(action: nameof(ClassController.GetListViewAsJson), controller: ControllerName, FilterQueryStringDictionary);
    var filterAny = FilterQueryStringDictionary.Any();
    var ChangePostionUrl = @Url.Action(nameof(ClassController.ChangePosition), ControllerName, null, Context.Request.Scheme);

}
<input type="hidden" id="filterAny" value="@filterAny" />
<input type="hidden" id="GetListViewAsJsonUrl" value="@GetListViewAsJsonUrl" />
<input type="hidden" id="FilterQueryStringDictionaryCount" value="@FilterQueryStringDictionary.Count()" />
<input type="hidden" id="TotalItemCount" value="@Model.TotalItemCount" />
<input type="hidden" id="ChangePostionUrl" value="@ChangePostionUrl" />

<div class="nera-container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-dark">Classs</h3>
        </div>
        <div class="col-md-6">
            <span class="d-flex justify-content-end">
                <a onclick="showInPopup('@CreateUrl','Add')" class="btn btn-primary">Add &nbsp; <i class="fa-solid fa-plus"></i> </a>
            </span>
        </div>
    </div>
    @await Html.PartialAsync("ListView", Model)
</div>
