@model PaginationResponseModelV2
<style>
    .hand {
        cursor: pointer;
    }

    .dropdown-menu1 {
        box-shadow: 24px 50px 24px rgba(0, 0, 0, 0.175) !important;
        width: 100%;
    }
</style>
@{
    int rowIndex = Model.FirstRowOnPage;
    var tablelist = (List<ResponseClassDto>)Model.ReturnData;
    var filtersVM = new ClassFilterVM();
    var ControllerName = nameof(ClassController).Replace("Controller", string.Empty);

    if (ViewData["filters"] != null)
    {
        filtersVM = ViewData["filters"] as ClassFilterVM;
    }

    var FilterQueryStringDictionary = new Dictionary<string, string>();
    if (ViewData["QueryStringDictionary"] != null)
    {
        FilterQueryStringDictionary = new Dictionary<string, string>(ViewData["QueryStringDictionary"] as Dictionary<string, string>);
    }


}

<div id="view-all">
    @await Html.PartialAsync("Filters", filtersVM)

    @if (Model.ReturnData != null)
    {
        <div class="card">
            <div class="card-dialog">
                <div class="card-content">
                    <div class="card-header bg-transparent">
                        <partial name="_SortSelect" model="@Model" />
                    </div>

                    <div class="card-body p-0">
                        <!-- Dropdown for selecting the column -->
                        <table id="MyTable" class="table table-bordered table-striped" style=" width: 100%;">
                            <thead>
                                <tr class="trCenter">
                                    <th class="fit">#</th>
                                    <th class="fit">#</th>
                                    <th>
                                        Name
                                    </th>
                                    <th class="fit tdCenter">
                                        Order No
                                    </th class="fit tdCenter">
                                    <th>
                                        Short Name
                                    </th>
                                    <th class="fit tdCenter"></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in tablelist)
                                {
                                    var urlEdit = Url.Action(nameof(ClassController.Edit), ControllerName, null, Context.Request.Scheme) + $"?id={item.Id}&PageIndex={Model.PageIndex}";
                                    var urlChangePosition = Url.Action(nameof(ClassController.ChangePosition), ControllerName, null, Context.Request.Scheme) + $"?id={item.Id}&PageIndex={Model.PageIndex}&maxOrder={Model.TotalItemCount}&orderNo={item.OrderNo}";
                                    var urlDelete = Url.Action(nameof(ClassController.Delete), ControllerName, null, Context.Request.Scheme) + $"?id={item.Id}&PageIndex={Model.PageIndex}";
                                    <tr data-id="@item.Id" data-ordernumber="@item.OrderNo" data-PageIndex="@Model.PageIndex" data-Name="@item.Name" class="trCenter text-wrap">
                                        <td class="SortColume">
                                            <div style='float: right; ' class='btn-group pull-right'><i class='fa fa-fw fa-arrows-alt'></i> </div>
                                        </td>
                                        <td class="fit  ui-state-disabled"> @(rowIndex++)</td>
                                        <td class="  ui-state-disabled">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td class="  ui-state-disabled">
                                            @Html.DisplayFor(modelItem => item.OrderNo)
                                        </td>
                                        <td class="  ui-state-disabled">
                                            @Html.DisplayFor(modelItem => item.ShortName)
                                        </td>
                                        <td class="fit ui-state-disabled" style="text-align: right !important;">
                                            <a class="nav-link " data-toggle="dropdown" href="#">
                                                <i class="fa fa-ellipsis-h"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="hand dropdown-item" onclick='return jQueryAjaxDeleteUrl("@urlDelete")'>
                                                    <span class="fa fa-trash"></span> Delete
                                                </a>
                                                <a class="hand dropdown-item" onclick='return showInPopup("@urlEdit","Edit")'>
                                                    <span class="fa fa-edit"></span> Edit
                                                </a>
                                                <a class="hand dropdown-item" onclick='return showInPopup("@urlChangePosition","Change Position")'>
                                                    <span class="fa fa-arrows-alt"></span> Change Position
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer" style="padding: 0.5rem 0rem 0rem 1.25rem;">
                        <partial name="_ListPager" model="@Model" />
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row">
        <div class="col-sm-12">
        <div class="d-flex justify-content-center mt-4">
            <h3>--- No Data Available --- </h3>
        </div>
        </div>
        </div>
    }
</div>
